@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&family=Montserrat:ital,wght@0,200;0,400;0,500;0,600;0,700;1,200&family=Pacifico&family=Rasa&family=Roboto:wght@100;400&display=swap");

@RobotoFont: "Roboto", sans-serif;
@Primarycolor: #282662;

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: @RobotoFont;
}

.yellow-text {
  color: white;
}

.orange-text {
  color: #d7932e;
}

.site-header {
  color: #000000;
  font-size: 48px;
  font-family: @RobotoFont;
}

//headercontainer//
.header-container {
  width: 100%;
  height: 850px;
  position: relative;

  .header-block {
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 2;

    @media (max-width: 1010px) {
      width: 100%;
    }

    @media (max-width: 840px) {
      width: 100%;
      background-color: #e3a13d;
    }

    .headerblock-info {
      width: 1290px;
      height: auto;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-top: 10px;
      padding-bottom: 10px;

      @media (max-width: 1300px) {
        width: 90%;
      }

      .opening-container {
        display: flex;

        a {
          margin-right: 20px;
          display: flex;
          align-items: center;
          color: #7d7d7d;
          text-decoration: none;

          img {
            margin-right: 10px;
          }
        }
      }

      .mediainfo-icon {
        a {
          margin-left: 10px;
        }
      }

      @media (max-width: 840px) {
        display: none;
      }
    }
  }
  //headerimageblock//
  .image-block {
    width: 100%;
    height: 800px;
    position: relative;

    @media (max-width: 840px) {
      height: auto;
    }

    .headerimages-block {
      width: 100%;
      height: 800px;
      background-image: url(images/car-image.png);
      background-position: center center;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      border-bottom: solid 10px #d7932e;

      @media (max-width: 1010px) {
        width: 100%;
      }

      @media (max-width: 840px) {
        width: 100%;
        height: 400px;
        background-position: center center;
      }
    }

    .logo-ul-block {
      width: 1253px;
      height: 63px;
      padding-top: 0px;
      z-index: 2;
      margin: auto;
      margin-top: 0px;
      display: flex;
      justify-content: space-between;

      @media (max-width: 1254px) {
        width: 100%;
        margin: auto;
      }

      .logo {
        color: white;
        margin-top: 20px;
        font-size: 36px;
        width: 93px;
        font-family: @RobotoFont;

        @media (max-width: 840px) {
          padding-left: 40px;
        }
      }

      .links-block {
        width: 432px;
        position: absolute;
        right: 0px;
        display: flex;
        margin-top: 35px;

        @media (max-width: 1300px) {
          width: 100%;
          left: 800px;
        }

        @media (max-width: 1200px), (max-width: 1000px) {
          width: 100%;
          left: 450px;
        }

        @media (max-width: 840px) {
          display: block;
          margin: auto;
          margin-top: 70px;
          width: 100%;
          left: 0px;
          background-color: rgb(62, 62, 62);
          opacity: 80%;
          padding: 40px;
          z-index: 3;
        }

        li {
          color: white;
          list-style: none;
          margin-right: 20px;
          font-family: @RobotoFont;

          @media (max-width: 840px) {
            margin: auto;
          }
          @media (max-width: 740px) {
            margin-bottom: 10px;
          }
        }

        a {
          color: white;
          text-decoration: none;
          font-size: 15px;
          font-family: @RobotoFont;
        }
      }
    }

    .border {
      width: 1253px;
      height: 1px;
      border: 1px solid white;
      margin: auto;
      margin-top: 15px;

      @media (max-width: 1110px) {
        display: none;
      }
    }

    h2 {
      font-size: 52px;
      width: 375px;
      position: absolute;
      top: 173px;
      left: 347px;
      color: #d7932e;
      font-family: @RobotoFont;

      @media (max-width: 840px) {
        width: 300px;
        font-size: 40px;
        left: 100px;
        top: 190px;
      }
    }

    .smartsearch-block {
      position: absolute;
      width: 682px;
      height: 181px;
      left: 354px;
      top: 528px;

      @media (max-width: 1110px) {
        left: 200px;
        top: 500px;
      }

      @media (max-width: 840px) {
        position: relative;
        height: auto;
        left: revert;
        top: revert;
        width: 100%;
      }

      h4 {
        width: 112px;
        color: rgb(30, 30, 86);
        font-size: 18px;
        padding-top: 21px;
        padding-left: 29px;
        background-color: white;
      }

      .selection-container {
        display: flex;
        width: 682px;
        height: 48px;

        @media (max-width: 840px) {
          flex-direction: column;
          width: 100%;
        }

        .selection-block {
          width: 493px;
          height: 133px;
          flex-wrap: wrap;
          background-color: rgb(65, 69, 73);
          opacity: 60%;
          padding: 33px 19px;
          box-sizing: border-box;

          @media (max-width: 840px) {
            flex-direction: column;
            height: auto;
            width: 97%;
            margin: 0px auto;
          }

          .makeselection {
            width: 143px;
            font-size: 13px;
            padding: 8px 10px;
            margin-bottom: 10px;
            background-color: white;

            @media (max-width: 840px) {
              width: 100%;
            }
          }

          button {
            width: 143px;
            padding: 10px 10px;
            background-color: palevioletred;
            font-size: 13px;
            border: none;
            color: white;
            cursor: pointer;
            transition: all .3s ease-in-out;

            &:hover{
                background-color: red;
                transition: all .3s ease-in-out;
            }

            @media(max-width: 840px){
                width: 100%;
            }
          }
        }

        .use-search {
          width: 189px;
          height: 133px;
          background-color: palevioletred;

          @media (max-width: 840px) {
            width: 97%;
            margin: 0px auto;
            height: auto;
            padding: 20px 0px;
            text-align: center;
          }

          p {
            font-size: 20px;
            text-align: center;
            margin-top: 30px;
            color: white;
            font-family: @RobotoFont;

            @media(max-width: 840px){
                margin-top: 0px;
            }

          }
          img {
            position: absolute;
            margin: auto;
            width: 20px;
            left: 580px;
            margin-top: 10px;

            @media(max-width: 840px){
                position: relative;
                left: revert;
            }
          }
        }
      }
    }
  }
}
//welcomeblock//
.welcome-block {
  width: 100%;
  position: relative;
  background-color: white;

  .site-header {
    width: 414px;
    margin: auto;
    text-align: center;
    font-size: 48px;

    @media(max-width: 1010px){
      width: 100%
    }
  
  }
  .header-border{
    height: 0px;
    width: 219px;
    color: #E75470;
    margin: auto;
  }
  .text{
    width: 832px;
    margin: auto;
    margin-top: 46px;
    color: #636363;

    @media(max-width: 840px){
      width: 600px;
      position: relative;
    }
    @media(max-width:740px){
      width: 450px;
      text-align: center;
    }

    p{
      text-align: center;
      margin-bottom: 8px;
      font-family: @RobotoFont;

      @media(max-width: 840px){
        width: 100%;
        position: relative;
      }
   }
  }
 
}

//carbrand//
.car-brand{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-top: 94px;
  box-sizing: border-box;

  @media(max-width: 1010px){
    width: 100%;
    flex-direction: column;
    display: block;
  }

  .brand-details{
    width: 50%;
    background-color: #282662;
    height: 509px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    box-sizing: border-box;

    @media(max-width: 1200px){
      width: 80%;
      margin: auto;
    }

    @media(max-width: 1010px){
      box-sizing: border-box;
      width: 100%;
      display: block;
    }

    @media(max-width: 840px){
      width: 100%;
    }
    @media(max-width: 740px){
      width: 100%;
      display: block;
      flex-direction: column;
    }

    .branddetails-block{
      width: 571px;
      position: relative;
      margin-left: 52px;
      margin-top: 41px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 70px;

      @media(max-width:740px){
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
        flex-direction: column;
        margin-bottom: 30px;
      }
  

      .all-branddetails{
        width: 206px;
        height: 177px;
        

        .min-picture{
          position: absolute;
          left: 159px;
        }
        .max-picture{
          position: absolute;
          left: 529px;
        }
        h4{
          text-align: right;
          color : white;
          font-family: @RobotoFont;
          font-size: 16px;
          margin-top: 58px;
        }
        p{
          text-align: right;
          color: white;
          font-size: 14px;
          font-family: @RobotoFont;
          margin-top: 10px;
        }

    }
    }
  
  }

  .brand-image{
    background-image: url(images/brand-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    background-position: center center;

    @media(max-width: 1010px){
      display: none;
    }
    @media(max-width: 840px){
      width: 100%;
      display: none;
    }
  }

}
//featuredvehicleblock//
.featuredvehicle-block{
  width: 100%;
  position: relative;
  background-color: white;

  .site-header{
    margin-top: 115px;
    text-align: center;
    
  }
  .featuredvehicle-site{
    width: 1226px;
    position: relative;
    display: flex;
    justify-content: space-between;
  
    margin-top: 114px;
    margin-left: 67px;

    .form-block{
      width: 161px;
      position: relative;
      background-color: white;

      .form-list{
        position: relative;
        width: 161px;

        li{
          list-style: none;
          margin-bottom: 20px;
          border-bottom: 1px solid gray;
          padding-bottom: 15px;
        }

        .form-link{
          margin-left: 29px;
          text-decoration: none;
          color: black;
          font-size: 16px;
          font-family: @RobotoFont;
        }
      }

      .carsell-block{
        margin-top: 140px;
        background-color: #D7932E;
        position: relative;
        height: 334px;
        

        .black-box{
          width: 138px;
          height: 5px;
          position: absolute;
          background-color: #161109;
          left: 10px;
          top: 15px;
        }
        p{
          width: 85px;
          margin: auto;
          text-align: center;
          color: white;
          font-family: @RobotoFont;
          font-size: 14px;
          padding-top: 35px;
        }
        img{
          margin-top: 70px;
          position: absolute;
        }
        .website-link{
          background-color: @Primarycolor;
          position: absolute;
          font-size: 14px;
          left: 10px;
          margin-top: 210px;
          padding: 8px 15px;
          color: white;
        }
      }
    }
    .luxusvehicle-block{
      width: 1019px;
      position: relative;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .luxus-cardetails{
        width: 239px;
        height: 326px;
        border: 2px solid #E5E5E5;
        margin-bottom: 17px;

        .luxus-car{
          position: absolute;
          margin-top: 12px;
          margin-left: 17px;
        }

        .setting-block{
          display: flex;
          justify-content: space-between;
          position: relative;

          .setting-icon{
            position: absolute;
            top: 178px;
          }
          a{
            text-decoration: none;
            margin-left: 17px;
            color: #868686;
            font-family: @RobotoFont;
          }
          img{
            margin-right: 10px;
          }
          p{
            margin-top: 178px;
            margin-left: 167px;
            color: #868686;
            font-family: @RobotoFont;
            
          }
        }
        h4{
          color: #E75470;
          font-family: @RobotoFont;
          font-size: 16px;
          text-align: center;
          margin-top: 30px;
          
        }
        .amount{
          background-color: @Primarycolor;
          width: 210px;
          height: 27px;
          margin: auto;
          font-size: 16px;
          font-family: @RobotoFont;
          text-align: center;
          padding-top: 5px;
          color: white;
          margin-top: 45px;
        }

      }

    }
  }

}

//sellcarblock//
.sell-carblock{
  width: 100%;
  position: relative;
  margin-top: 80px;

  .sell-carimage{
    width: 100%;
    height: 435px;
    background-image: url(images/sellcarbackground.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
  }
  .sell{
    background-color: @Primarycolor;
    font-family: @RobotoFont;
    font-size: 48px;
    width: 315px;
    height: 224px;
    z-index: 3;
    position: absolute;
    text-align: center;
    color: white;
    padding-top: 53px;
    left: 121px;
    top: 106px;
    opacity: 83%;
  }
  .hero-car{
    position: absolute;
    z-index: 3px;
    left: 664px;
    top: 171px;
    width: 577px;

  }
}

//soldcarblock//
.soldcar-block{
  width: 100%;
  position: relative;

  .site-header{
    text-align: center;
    margin-top: 35px;
    font-family: @RobotoFont;
  }
  .soldlexus-block{
    width: 1065px;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-top: 100px;
    margin: auto;
    flex-wrap: wrap;

    .sold-site{
      width: 323px;
      height: 379px;
      border: 1px solid #EEEEEE;
      box-sizing: border-box;

      .black-car{
        margin-bottom: 20px;
      }
      .setting-block{
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 80%;

        p{
          color: #868686;
        }
        .setting-icon{
          color: #868686;
          text-decoration: none;
          margin-right: 5px;
        }
        img{
          margin-right: 10px;
        }
      }

      h4{
        color: #E75470;
        font-size: 20px;
        margin-top: 25px;
        text-align: center;
      }
      .amount{
        color: #282662;
        text-align: center;
        font-size: 20px;
        margin-top: 38px;
      }
      .botom{
        width: 323px;
        height: 7px;
        background-color: #282662;
        margin-top: 20px;
      }
    }
  }
}

//testimonialcontainer//
.testimonial-container{
  position: relative;
  width: 100%;
  margin-top: 72px;

  .testimonial-image{
    width: 100%;
    background-image: url(images/testimonial-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 742px;
  }
  h2{
    z-index: 3;
    text-align: center;
    color : white;
    font-size: 48px;
    position: absolute;
    top: 107px;
    left: 553px;
  }
  .message-box{
    z-index: 2px;
    background-color: #D7932E;
    width: 745px;
    height: 167px;
    position: absolute;
    left: 319px;
    top: 299px;
    display: flex;
    box-sizing: border-box;

    img{
      width: 84px;
      height: 80px;
      margin-top: 36px;
      margin-right: 37px;
      margin-left: 30px;
    }

    .site-text{
      width: 554px;
      color: white;
      margin-top: 36px;
      font-size: 16px;
    }

  }
  
  .loading-dot{
    z-index: 2;
    position: absolute;
    top: 491px;
    left: 702px;
  }
 
}
