@font-face {
  font-family: 'Cormorant Garamond';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cormorantgaramond/v16/co3YmX5slCNuHLi8bLeY9MK7whWMhyjQWlhvuQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUFjIg1_i6t8kCHKm459Wx7xQYXK0vOoz6jqyR9aX8.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCvr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtr6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCtZ6Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v25/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCuM70w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pacifico/v22/FwZY7-Qmy14u9lezJ96A.ttf) format('truetype');
}
@font-face {
  font-family: 'Rasa';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rasa/v15/xn76YHIn1mWmVKl8ZtAM9NrJfN5GJW41.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOkCnqEu92Fr1MmgWxP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5Q.ttf) format('truetype');
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
.yellow-text {
  color: white;
}
.orange-text {
  color: #d7932e;
}
.site-header {
  color: #000000;
  font-size: 48px;
  font-family: "Roboto", sans-serif;
}
.header-border {
  width: 50px;
}
.header-container {
  width: 100%;
  height: 850px;
  position: relative;
}
.header-container .header-block {
  width: 100%;
  background-color: white;
  position: relative;
  z-index: 2;
}
@media (max-width: 1010px) {
  .header-container .header-block {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .header-container .header-block {
    width: 100%;
    background-color: #e3a13d;
  }
}
.header-container .header-block .headerblock-info {
  width: 1290px;
  height: auto;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 1300px) {
  .header-container .header-block .headerblock-info {
    width: 90%;
  }
}
.header-container .header-block .headerblock-info .opening-container {
  display: flex;
}
.header-container .header-block .headerblock-info .opening-container a {
  margin-right: 20px;
  display: flex;
  align-items: center;
  color: #7d7d7d;
  text-decoration: none;
}
.header-container .header-block .headerblock-info .opening-container a img {
  margin-right: 10px;
}
.header-container .header-block .headerblock-info .mediainfo-icon a {
  margin-left: 10px;
}
@media (max-width: 840px) {
  .header-container .header-block .headerblock-info {
    display: none;
  }
}
.header-container .image-block {
  width: 100%;
  height: 800px;
  position: relative;
}
@media (max-width: 840px) {
  .header-container .image-block {
    height: auto;
  }
}
.header-container .image-block .headerimages-block {
  width: 100%;
  height: 800px;
  background-image: url(images/car-image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border-bottom: solid 10px #d7932e;
}
@media (max-width: 1010px) {
  .header-container .image-block .headerimages-block {
    width: 100%;
  }
}
@media (max-width: 840px) {
  .header-container .image-block .headerimages-block {
    width: 100%;
    height: 400px;
    background-position: center center;
  }
}
.header-container .image-block .logo-ul-block {
  width: 1253px;
  height: 63px;
  padding-top: 0px;
  z-index: 2;
  margin: auto;
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1254px) {
  .header-container .image-block .logo-ul-block {
    width: 100%;
    margin: auto;
  }
}
.header-container .image-block .logo-ul-block .logo {
  color: white;
  margin-top: 20px;
  font-size: 36px;
  width: 93px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 840px) {
  .header-container .image-block .logo-ul-block .logo {
    padding-left: 40px;
  }
}
.header-container .image-block .logo-ul-block .links-block {
  width: 432px;
  position: absolute;
  right: 0px;
  display: flex;
  margin-top: 35px;
}
@media (max-width: 1300px) {
  .header-container .image-block .logo-ul-block .links-block {
    width: 100%;
    left: 800px;
  }
}
@media (max-width: 1200px), (max-width: 1000px) {
  .header-container .image-block .logo-ul-block .links-block {
    width: 100%;
    left: 450px;
  }
}
@media (max-width: 840px) {
  .header-container .image-block .logo-ul-block .links-block {
    display: block;
    margin: auto;
    margin-top: 70px;
    width: 100%;
    left: 0px;
    background-color: #3e3e3e;
    opacity: 80%;
    padding: 40px;
    z-index: 3;
  }
}
.header-container .image-block .logo-ul-block .links-block li {
  color: white;
  list-style: none;
  margin-right: 20px;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 840px) {
  .header-container .image-block .logo-ul-block .links-block li {
    margin: auto;
  }
}
@media (max-width: 740px) {
  .header-container .image-block .logo-ul-block .links-block li {
    margin-bottom: 10px;
  }
}
.header-container .image-block .logo-ul-block .links-block a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}
.header-container .image-block .border {
  width: 1253px;
  height: 1px;
  border: 1px solid white;
  margin: auto;
  margin-top: 15px;
}
@media (max-width: 1110px) {
  .header-container .image-block .border {
    display: none;
  }
}
.header-container .image-block h2 {
  font-size: 52px;
  width: 375px;
  position: absolute;
  top: 173px;
  left: 347px;
  color: #d7932e;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 840px) {
  .header-container .image-block h2 {
    width: 300px;
    font-size: 40px;
    left: 100px;
    top: 190px;
  }
}
.header-container .image-block .smartsearch-block {
  position: absolute;
  width: 682px;
  height: 181px;
  left: 354px;
  top: 528px;
}
@media (max-width: 1110px) {
  .header-container .image-block .smartsearch-block {
    left: 200px;
    top: 500px;
  }
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block {
    position: relative;
    height: auto;
    left: revert;
    top: revert;
    width: 100%;
  }
}
.header-container .image-block .smartsearch-block h4 {
  width: 112px;
  color: #1e1e56;
  font-size: 18px;
  padding-top: 21px;
  padding-left: 29px;
  background-color: white;
}
.header-container .image-block .smartsearch-block .selection-container {
  display: flex;
  width: 682px;
  height: 48px;
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block .selection-container {
    flex-direction: column;
    width: 100%;
  }
}
.header-container .image-block .smartsearch-block .selection-container .selection-block {
  width: 493px;
  height: 133px;
  flex-wrap: wrap;
  background-color: #414549;
  opacity: 60%;
  padding: 33px 19px;
  box-sizing: border-box;
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block .selection-container .selection-block {
    flex-direction: column;
    height: auto;
    width: 97%;
    margin: 0px auto;
  }
}
.header-container .image-block .smartsearch-block .selection-container .selection-block .makeselection {
  width: 143px;
  font-size: 13px;
  padding: 8px 10px;
  margin-bottom: 10px;
  background-color: white;
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block .selection-container .selection-block .makeselection {
    width: 100%;
  }
}
.header-container .image-block .smartsearch-block .selection-container .selection-block button {
  width: 143px;
  padding: 10px 10px;
  background-color: palevioletred;
  font-size: 13px;
  border: none;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.header-container .image-block .smartsearch-block .selection-container .selection-block button:hover {
  background-color: red;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block .selection-container .selection-block button {
    width: 100%;
  }
}
.header-container .image-block .smartsearch-block .selection-container .use-search {
  width: 189px;
  height: 133px;
  background-color: palevioletred;
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block .selection-container .use-search {
    width: 97%;
    margin: 0px auto;
    height: auto;
    padding: 20px 0px;
    text-align: center;
  }
}
.header-container .image-block .smartsearch-block .selection-container .use-search p {
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  color: white;
  font-family: "Roboto", sans-serif;
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block .selection-container .use-search p {
    margin-top: 0px;
  }
}
.header-container .image-block .smartsearch-block .selection-container .use-search img {
  position: absolute;
  margin: auto;
  width: 20px;
  left: 580px;
  margin-top: 10px;
}
@media (max-width: 840px) {
  .header-container .image-block .smartsearch-block .selection-container .use-search img {
    position: relative;
    left: revert;
  }
}
.welcome-block {
  width: 100%;
  position: relative;
  background-color: white;
}
.welcome-block .site-header {
  width: 414px;
  margin: auto;
  text-align: center;
}
